<mat-sidenav-container class="example-container">
  <mat-sidenav
    class="sidenav"
    #sidenav
    mode="side"
    [(opened)]="opened"
    (opened)="events.push('open!')"
    (closed)="events.push('close!')"
  >
    <a class="item new-chat" [routerLink]="['chat', 'new']">
      <mat-icon svgIcon="chatGptIcon"></mat-icon>
      <span>New Chat</span>
      <mat-icon class="edit-icon" [inline]="true">edit_square</mat-icon>
    </a>
    @if(conversations$ | async; as conversations){ @for (conversation of
    (conversations$ | async); track conversation.id) {
    <a
      class="item"
      routerLink="/chat/{{ conversation.id }}"
      routerLinkActive="active"
    >
      {{ conversation.name }}
    </a>
    } }
  </mat-sidenav>

  <mat-sidenav-content class="chat-conversation-content">
    <div class="upper-menu"></div>
    <router-outlet></router-outlet>
    <div
      class="sidenav-toggle"
      appTransformElement
      [transformValue]="dynamicTransformValue"
      mat-button
      (click)="toggleSideNav(sidenav)"
    >
      <mat-icon>arrow_forward_ios</mat-icon>
    </div>
    <div class="conversation-input">
      <div class="message-input">
        <div class="textarea-wrapper">
          <textarea #message type="text" placeholder="Type your message here...">
          </textarea>
          <button class="add-message" (click)="sendMessage(message.value)"></button>
        </div>

        <div class="disclaimer">
          <span
            >ChatGPT can make mistakes. Consider checking important
            information.</span
          >
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
