<mat-sidenav-container class="example-container">
  <mat-sidenav class="sidenav" #sidenav mode="side" [(opened)]="opened">
    <app-conversations-panel [conversations]="conversations$ | async">
    </app-conversations-panel>
  </mat-sidenav>

  <mat-sidenav-content class="chat-conversation-content">
    <div class="upper-menu"></div>
    <router-outlet></router-outlet>
    <div
      class="sidenav-toggle"
      appTransformElement
      [transformValue]="dynamicTransformValue"
      mat-button
      (click)="toggleSideNav(sidenav)"
    >
      <mat-icon>arrow_forward_ios</mat-icon>
    </div>
    <app-input-panel (emmitForm)="submitText($event)"></app-input-panel>
  </mat-sidenav-content>
</mat-sidenav-container>
