<mat-sidenav-container class="example-container">
  <mat-sidenav class="sidenav" #sidenav mode="side" [(opened)]="opened">
    <app-conversations-panel> </app-conversations-panel>
  </mat-sidenav>

  <mat-sidenav-content class="chat-conversation-content">
    <router-outlet></router-outlet>
    <div
      class="sidenav-toggle"
      [ngClass]="{ opened: opened, closed: !opened }"
      mat-button
      (click)="toggleSideNav()"
    >
      <mat-icon>arrow_forward_ios</mat-icon>
    </div>
    <!-- It's a workaround -- didn't have time to finish... -->
    <app-input-panel
      [ngClass]="{ grow: !opened }"
      class="input-panel"
      (emmitForm)="submitText($event)"
    ></app-input-panel>
  </mat-sidenav-content>
</mat-sidenav-container>
