.conversation-input {
  z-index: 1000;
  background-color: #171717;


  .message-input {

    padding: 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);

    .textarea-wrapper {
      position: relative;

      textarea {
        box-sizing: border-box;
        min-height: 52px;
        width: 732px;
        max-height: 200px;
        padding: 14px 48px 14px 16px;
        white-space: nowrap;
        overflow: hidden;
        resize: none;
        background-color: transparent;
        border: 0.5px solid rgb(155, 155, 155);
        border-radius: 16px;
        color: #fff;
        font-size: 1rem;
      }

      button {
        position: absolute;
        top: 20px;
        right: 25px;
        width: 30px;
        height: 30px;
        background: #fff;
        border-radius: 4px;
      }
    }

    .disclaimer {
      display: flex;
    justify-content: center;
      color: #fff;
    }
  }
}
