<div class="conversation-input">
  <div class="message-input">
    <div class="textarea-wrapper">
      <form [formGroup]="textForm" (ngSubmit)="submitText()">
        <textarea
          formControlName="text"
          placeholder="Type your message here..."
          (keydown.enter)="submitText()"
        ></textarea>
        <button
          type="submit"
          class="add-message"
          [disabled]="textForm.invalid"
        >
          Submit
        </button>
      </form>
    </div>

    <div class="disclaimer">
      <span
        >ChatGPT can make mistakes. Consider checking important
        information.</span
      >
    </div>
  </div>
</div>
